<div class="container d-flex flex-column container-full-view">
  <div class="row">
      <ul class="nav flex-column">
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('dashboard/symptom')">
            <i class="fas fa-columns"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/symptom')">
            <i class="fas fa-puzzle-piece"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/gender')">
            <i class="fas fa-user-friends"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/department')">
            <i class="fas fa-id-card"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/body')">
            <i class="fas fa-child"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/duration')">
            <i class="fas fa-chart-pie"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info"  (click)="goRouterNavigate('editing/severity')">
            <i class="fas fa-chart-bar"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/hospital')">
            <i class="fas fa-hospital-alt"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('history')">
            <i class="fas fa-history"></i>
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('admin')">
            <i class="fas fa-cogs"></i>
          </button>
        </li>
      </ul>
  </div>
</div>
