<div class="container d-flex flex-column container-full-view">
  <div class="row">
      <ul class="nav flex-column">
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('dashboard/symptom')">
            <i class="fas fa-columns mr-2"></i>儀表板 Dashboard
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/symptom')">
            <i class="fas fa-puzzle-piece mr-2"></i>症狀 Symptom
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/gender')">
            <i class="fas fa-user-friends mr-2"></i>性別 Gender
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/department')">
            <i class="fas fa-id-card mr-2"></i>科別 Department
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/body')">
            <i class="fas fa-child mr-2"></i>部位 Body part
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/duration')">
            <i class="fas fa-chart-pie mr-2"></i>持續時間 Duration
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info"  (click)="goRouterNavigate('editing/severity')">
            <i class="fas fa-chart-bar mr-2"></i>嚴重程度 Severity
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('editing/hospital')">
            <i class="fas fa-hospital-alt mr-2"></i>醫院 Hospital
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('history')">
            <i class="fas fa-history mr-2"></i>歷史紀錄 History
          </button>
        </li>
        <li class="nav-item my-2">
          <button type="button" class="btn btn-outline-info" (click)="goRouterNavigate('admin/menu')">
            <i class="fas fa-cogs mr-2"></i>管理介面 Admin
          </button>
        </li>
      </ul>
  </div>
</div>
