<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron" style="margin-top: 50px; background-color: #eef4f7; box-shadow: 5px 5px 5px #888888;">
        <h1 class="display-4">Quality Assurance Server 2</h1>
        <hr class="my-4">
        <button mat-raised-button color="primary" (click)="signInWithGoogle()"><i class="fab fa-google" aria-hidden="true"></i>Sign in with Google</button>
        <button mat-raised-button color="primary" (click)="signInWithMicrosoft()"><i class="fab fa-windows" aria-hidden="true"></i>Sign in with Microsoft</button>
      </div>
    </div>
  </div>
</div>
