<div class="container">
  <div class="row">
    <div class="col-12">
      Asset ID : {{assetId}}
        <label>Select the user : </label>
        <mat-form-field>
          <mat-select [(ngModel)]="userValue">
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user['username'] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-raised-button color="primary" class="filter-margin" (click)="transferAsset()"><i class="fas fa-arrow-alt-circle-down" aria-hidden="true"></i>Submit</button>
    </div>
  </div>
</div>
