<div class="dialog-main">
  <div class="dialog-top">
    <h3  class="text-muted">{{ title }}</h3>
  </div>
  <div *ngIf="action == 'edit'; else deleteTemplate;">
    <div class="edit-dialog-center">
      <form>
        <div>
          <label for="inputCUI">CUI</label>
          <input type="text" class="form-control" name="inputCUI" id="inputCUI" placeholder="Enter CUI" [(ngModel)]="symptom.cui.cui_number">
        </div>
        <div class="form-group">
          <label for="inputSymptomEnglishName">CUI English Name</label>
          <input type="text" class="form-control" name="inputSymptomEnglishName" id="inputSymptomEnglishName" placeholder="Enter english name" [(ngModel)]="symptom.cui.cui_english_name">
        </div>
        <div class="form-group">
          <label for="inputSymptomChineseName">CUI Chinese Name</label>
          <input type="text" class="form-control" name="inputSymptomChineseName" id="inputSymptomChineseName" placeholder="Enter chinese name" [(ngModel)]="symptom.cui.cui_chinese_name">
        </div>
        <div>
          <label for="inputSnomedNumber">Snomed</label>
          <input type="text" class="form-control" name="inputSnomedNumber" id="inputSnomedNumber" placeholder="Enter CUI" [(ngModel)]="symptom.snomed.term_snomed">
        </div>
        <div class="form-group">
          <label for="inputSnomedEnglishName">Snomed English Name</label>
          <input type="text" class="form-control" name="inputSnomedEnglishName" id="inputSnomedEnglishName" placeholder="Enter english name" [(ngModel)]="symptom.snomed.term_english_name">
        </div>
        <div class="form-group">
          <label for="inputSnomedChineseName">Snomed Chinese Name</label>
          <input type="text" class="form-control" name="inputSnomedChineseName" id="inputSnomedChineseName" placeholder="Enter chinese name" [(ngModel)]="symptom.snomed.term_chinese_name">
        </div>
        <div>
          <label for="inputTerms">Variant Terms</label>
          <input type="text" class="form-control" name="inputTerms" id="inputTerms" placeholder="Enter CUI" [(ngModel)]="symptom.terms[0].term_snomed">
        </div>
        <div class="form-group">
          <label for="inputTermsEnglishName">Variant Terms English Name</label>
          <input type="text" class="form-control" name="inputTermsEnglishName" id="inputTermsEnglishName" placeholder="Enter english name" [(ngModel)]="symptom.terms[0].term_english_name">
        </div>
        <div class="form-group">
          <label for="inputTermsChineseName">Variant Terms Chinese Name</label>
          <input type="text" class="form-control" name="inputTermsChineseName" id="inputTermsChineseName" placeholder="Enter chinese name" [(ngModel)]="symptom.terms[0].term_chinese_name">
        </div>
      </form>
    </div>
    <div class="dialog-bottom d-flex">
      <button type="button" class="btn btn-info mr-2 ml-auto" (click)="save()">
        <i class="fas fa-check mr-2"></i>Save
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">
        <i class="fas fa-times mr-2"></i>Cancel
      </button>
    </div>
  </div>
  <ng-template #deleteTemplate>
    <div class="container">
      <div class="row">
        <div class="col-12 align-self-center d-flex my-1">
          <h1 class="mx-auto text-info"><i class="fas fa-exclamation-triangle"></i></h1>
        </div>
        <div class="col-12 align-self-center d-flex my-1">
          <h3 class="mx-auto">是否確定刪除 {{symptom.cui.cui_chinese_name}}</h3>
        </div>
      </div>
    </div>
    <div class="dialog-bottom d-flex">
      <button type="button" class="btn btn-info mr-2 ml-auto" (click)="save()">
        <i class="fas fa-check mr-2"></i>Yes
      </button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">
        <i class="fas fa-times mr-2"></i>Cancel
      </button>
    </div>
  </ng-template>
</div>
