<div class="container-fluid my-2">
  <div class="row justify-content-between my-2">
    <div class="col-lg-4">
      <h2 class="text-muted">管理介面 Admin</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table datatable class="table table-hover table-bordered table-responsive table-sm" style="width: 100%">
        <thead>
        <tr class="table-info">
          <th>#</th>
          <!--Name-->
          <th>Name</th>
          <!--E-mail-->
          <th>E-mail</th>
          <!--Authority-->
          <th>Symptom Authority</th>
          <th>Gender Authority</th>
          <th>Department Authority</th>
          <th>Body part Authority</th>
          <th>Duration Authority</th>
          <th>Severity Authority</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <!--Name-->
          <td align="center" valign="center">test1</td>
          <!--E-mail-->
          <td align="center" valign="center">test1@gmail.com</td>
          <!--Authority-->
          <td>
            <div class="col-sm-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <!--Name-->
          <td align="center" valign="center">test1</td>
          <!--E-mail-->
          <td valign="center">test1@gmail.com</td>
          <!--Authority-->
          <td>
            <div class="col-sm-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
          <td>
            <div class="col-8">
              <form class="form-inline">
                <select class="form-control ml-sm-auto my-2" style="width:100px">
                  <option *ngFor="let authority of authoritys;">{{authority}}</option>
                </select>
              </form>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
