<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Admin</li>
          <li class="breadcrumb-item active" aria-current="page">User & Group Authority</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card class="layout-margin">
        <mat-form-field style="width: 40%">
          <mat-select placeholder="User" [(ngModel)]="chooseValue" >
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user.username }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" class="filter-margin" (click)="submit()" ><i class="fas fa-search" aria-hidden="true"></i>Search</button>
        <button mat-raised-button color="warn" class="filter-margin" (click)="save()" ><i class="fas fa-check" aria-hidden="true"></i>Save</button>
      </mat-card>
      <mat-card class="layout-margin" *ngIf="usergroup.length > 0">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Description</th>
              <th scope="col">Flag</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of usergroup">
              <th scope="row">{{data['id']}}</th>
              <td scope="row">{{data['description']}}</td>
              <td scope="row"><mat-checkbox [(ngModel)]="data['flag']"></mat-checkbox></td>
            </tr>
            </tbody>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>
